@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Birthstone+Bounce:wght@400;500&display=swap');

.eu-wrap { margin: auto; margin-bottom: 100px; font-family: 'Google Sans', sans-serif; max-width: 1100px; padding: 30px; background: #353535; }
.eu-paper { margin: auto; background: white; padding: 50px 50px 100px 50px; color: #191919; font-size: 18px; position: relative; box-shadow: 0 0 30px rgba(0,0,0,0.8); }
.eu-logo-main { max-width: 150px; filter: grayscale(100); display: block; margin: auto; }
.eu-stamp-btm { position: absolute; bottom: -80px; right: -130px; max-width: 250px; transform: rotate(-10deg); filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.8)) saturate(1.5); }
.eu-stamp-appr { position: absolute; bottom: 120px; left: 50px; max-width: 300px; opacity: 0.8; pointer-events: none; }
.eu-title-lg { text-align: center; font-size: 25pt; font-weight: bold; margin-top: 20px; }
.eu-title-sm { text-align: center; }
.eu-divider { display: flex; align-items: center; text-align: center; margin: 20px 0; }
.eu-div-line { flex: 1; height: 1px; background: #000; }
.eu-text-in { text-indent: 40px; margin-bottom: 30px; line-height: 1.6; }
.eu-box-info { background: #f5f5f5; border: 1px solid #ccc; padding: 20px; text-align: left; font-size: 15px; margin-bottom: 20px; color: #333; line-height: 1.6; }
.eu-box-info img { max-width: 100% !important; height: auto !important; }
.eu-sig-wrap { text-align: right; font-size: 10pt; padding-right: 20px; margin-top: 30px; }
.eu-sig-name { font-family: 'Birthstone Bounce', cursive; font-size: 45pt; margin: auto; }
